h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif; }

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400; }

h1 {
  font-size: 36px;
  color: #E72264;
  text-transform: uppercase; }

/*MENU ANIMATION*/
.navbar {
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  text-transform: uppercase; }
  .navbar a.navbar-brand {
    padding: 0; }
  .navbar .nav-link {
    color: #263238; }
  .navbar #logo-wrapper {
    height: 50px; }
    .navbar #logo-wrapper #logo-name {
      height: 50px; }
    .navbar #logo-wrapper svg path {
      stroke-width: 2;
      stroke-linecap: round; }
    .navbar #logo-wrapper svg:hover #stroke .louise {
      stroke-dasharray: 600;
      stroke-dashoffset: 600;
      stroke-width: 2.5;
      -webkit-animation: logo-louise 1s linear forwards .5s;
      animation: logo-louise 1s linear forwards .5s; }
    .navbar #logo-wrapper svg:hover .name-hearts path {
      stroke-dasharray: 50;
      stroke-dashoffset: 50; }
    .navbar #logo-wrapper svg:hover .name-hearts .heart1-2 {
      -webkit-animation: logo-hearts 1s linear forwards 1.5s;
      animation: logo-hearts 1s linear forwards 1.5s; }
    .navbar #logo-wrapper svg:hover .name-hearts .heart1-1 {
      -webkit-animation: logo-hearts 1s linear forwards 2s;
      animation: logo-hearts 1s linear forwards 2s; }
  .navbar.animated {
    transition: all 0.5s ease; }
  .navbar.slideDown {
    transform: translateY(0); }
  .navbar.slideUp {
    transform: translateY(-100%); }

/*END MENU ANIMATION*/
@-webkit-keyframes logo-louise {
  0% {
    stroke-dashoffset: 600; }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 2.5; } }
@keyframes logo-louise {
  0% {
    stroke-dashoffset: 600; }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 2.5; } }
@-webkit-keyframes logo-hearts {
  0% {
    stroke-dashoffset: 50; }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 2; } }
@keyframes logo-hearts {
  0% {
    stroke-dashoffset: 50; }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 2; } }
.sticky-wrapper {
  background-color: white; }

.jumbotron-wrapper {
  height: 100vh;
  min-height: 500px;
  position: relative; }
  .jumbotron-wrapper .jumbotron {
    background-color: #e72264;
    background-image: linear-gradient(135deg, #E72264 30%, #F58A29 70%);
    position: fixed;
    /* do not overlap the header */
    bottom: 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    text-align: center;
    border: 10px solid white;
    margin-bottom: 0; }
    .jumbotron-wrapper .jumbotron p {
      color: white; }
    .jumbotron-wrapper .jumbotron #intro-image {
      width: 100px; }
    .jumbotron-wrapper .jumbotron #svgWrapper {
      width: 60%;
      height: auto;
      margin: auto; }
      .jumbotron-wrapper .jumbotron #svgWrapper svg #stroke {
        stroke-linecap: round;
        shape-rendering: geometricPrecision; }
        .jumbotron-wrapper .jumbotron #svgWrapper svg #stroke .louise {
          stroke-dasharray: 2400;
          stroke-dashoffset: 2400;
          stroke-width: 8;
          -webkit-animation: name-louise 2s linear forwards .5s;
          animation: name-louise 2s linear forwards .5s; }
        .jumbotron-wrapper .jumbotron #svgWrapper svg #stroke .r {
          stroke-dasharray: 1200;
          stroke-dashoffset: 1200;
          stroke-width: 8;
          -webkit-animation: name-r .75s linear forwards 2.5s;
          animation: name-r .75s linear forwards 2.5s; }
        .jumbotron-wrapper .jumbotron #svgWrapper svg #stroke .w {
          stroke-dasharray: 1200;
          stroke-dashoffset: 1200;
          stroke-width: 8;
          -webkit-animation: name-w .75s linear forwards 3.25s;
          animation: name-w .75s linear forwards 3.25s; }
        .jumbotron-wrapper .jumbotron #svgWrapper svg #stroke .hitaker {
          stroke-dasharray: 2400;
          stroke-dashoffset: 2400;
          stroke-width: 8;
          -webkit-animation: name-hitaker 2s linear forwards 4s;
          animation: name-hitaker 2s linear forwards 4s; }
        .jumbotron-wrapper .jumbotron #svgWrapper svg #stroke .t-cross {
          stroke-dasharray: 400;
          stroke-dashoffset: 400;
          stroke-width: 8;
          -webkit-animation: name-t-cross 1s linear forwards 5.7s;
          animation: name-t-cross 1s linear forwards 5.7s; }
      .jumbotron-wrapper .jumbotron #svgWrapper svg .name-hearts path {
        stroke-dasharray: 400;
        stroke-dashoffset: 400;
        stroke-width: 7;
        stroke-linecap: round; }
      .jumbotron-wrapper .jumbotron #svgWrapper svg .name-hearts .heart1-2 {
        -webkit-animation: name-hearts 1s linear forwards 6.7s;
        animation: name-hearts 1s linear forwards 6.7s; }
      .jumbotron-wrapper .jumbotron #svgWrapper svg .name-hearts .heart1-1 {
        -webkit-animation: name-hearts 1s linear forwards 7.7s;
        animation: name-hearts 1s linear forwards 7.7s; }
      .jumbotron-wrapper .jumbotron #svgWrapper svg .name-hearts .heart2-2 {
        -webkit-animation: name-hearts 1s linear forwards 8.7s;
        animation: name-hearts 1s linear forwards 8.7s; }
      .jumbotron-wrapper .jumbotron #svgWrapper svg .name-hearts .heart2-1 {
        -webkit-animation: name-hearts 1s linear forwards 9.7s;
        animation: name-hearts 1s linear forwards 9.7s; }

.page-content {
  background-color: white;
  z-index: 2;
  padding-top: 50px; }

/*HANDWRITING ANIMATION*/
@-webkit-keyframes name-louise {
  0% {
    stroke-dashoffset: 2400; }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 9; } }
@keyframes name-louise {
  0% {
    stroke-dashoffset: 2400; }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 9; } }
@-webkit-keyframes name-r {
  0% {
    stroke-dashoffset: 1200; }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 9; } }
@keyframes name-r {
  0% {
    stroke-dashoffset: 1200; }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 9; } }
@-webkit-keyframes name-w {
  0% {
    stroke-dashoffset: 1200; }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 9; } }
@keyframes name-w {
  0% {
    stroke-dashoffset: 1200; }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 9; } }
@-webkit-keyframes name-hitaker {
  0% {
    stroke-dashoffset: 2400; }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 9; } }
@keyframes name-hitaker {
  0% {
    stroke-dashoffset: 2400; }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 9; } }
@-webkit-keyframes name-t-cross {
  0% {
    stroke-dashoffset: 400; }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 9; } }
@keyframes name-t-cross {
  0% {
    stroke-dashoffset: 400; }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 9; } }
@-webkit-keyframes name-hearts {
  0% {
    stroke-dashoffset: 400; }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 7; } }
@keyframes name-hearts {
  0% {
    stroke-dashoffset: 400; }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 7; } }
/*END HANDWRITING ANIMATION*/
.hvr-overline-from-center {
  cursor: pointer;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.3s ease-in-out color;
  -moz-transition: 0.3s ease-in-out color;
  transition: 0.3s ease-in-out color; }
  .hvr-overline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    background: #E72264; }

.hvr-overline-from-center:hover, .hvr-overline-from-center:focus, .hvr-overline-from-center:active, .hvr-overline-from-center.active {
  color: #E72264; }

.hvr-overline-from-center:hover:before, .hvr-overline-from-center:focus:before, .hvr-overline-from-center:active:before, .hvr-overline-from-center.active:before {
  left: 0;
  right: 0; }

.section-divider {
  display: block;
  margin: auto;
  width: 40px;
  margin-top: 50px; }

.main-page-section {
  margin: 0 auto 100px; }

.section-intro h1 {
  margin-bottom: 50px; }
.section-intro p {
  margin-bottom: 100px; }

a.hoverlink {
  color: #E72264;
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding: 0 .2em;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  z-index: 2; }
  a.hoverlink:before {
    content: "";
    z-index: -1;
    width: 100%;
    height: 0%;
    background: rgba(231, 34, 100, 0.1);
    bottom: 0;
    left: 0;
    position: absolute;
    border-radius: 2px;
    -webkit-transition: height 250ms;
    transition: height 250ms; }
  a.hoverlink:hover {
    border-color: transparent; }
  a.hoverlink:hover:before {
    height: 100%; }

.button .button-link {
  cursor: pointer;
  display: block;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  text-align: center;
  position: relative;
  text-decoration: none;
  vertical-align: middle;
  width: 100%;
  color: #E72264;
  -webkit-transition: 0.3s ease-in-out all;
  -moz-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all; }
  .button .button-link svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  .button .button-link rect {
    fill: none;
    stroke: #E72264;
    stroke-width: 4;
    stroke-dasharray: 422, 0;
    -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    -moz-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1); }
.button:hover {
  background: rgba(255, 99, 71, 0);
  letter-spacing: 1px; }
.button:hover rect {
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48; }

footer {
  text-align: center; }
  footer .arrow-up-wrapper {
    position: relative;
    display: inline-block;
    cursor: pointer; }
    footer .arrow-up-wrapper .icon-up {
      font-size: 36px;
      display: inline-block; }
    footer .arrow-up-wrapper:hover .icon-up {
      -webkit-animation: bounce 2s infinite;
      animation: bounce 2s infinite; }
  footer #logo-wrapper2 {
    height: 50px;
    margin: 20px 0; }
    footer #logo-wrapper2 #logo-name {
      height: 50px; }
    footer #logo-wrapper2 svg path {
      stroke-width: 2;
      stroke-linecap: round; }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }
.social-icon-wrap {
  text-align: center;
  margin: 0 auto;
  padding: 2em 0 3em; }
  .social-icon-wrap .social-icon {
    display: inline-block;
    cursor: pointer;
    margin: 15px 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: rgba(38, 50, 56, 0.5);
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s; }
    .social-icon-wrap .social-icon:hover {
      text-decoration: none;
      background-color: #E72264;
      color: white; }
      .social-icon-wrap .social-icon:hover:after {
        box-shadow: 0 0 0 2px #E72264;
        -webkit-transform: scale(1.15);
        -moz-transform: scale(1.15);
        -ms-transform: scale(1.15);
        transform: scale(1.15);
        opacity: .5; }
    .social-icon-wrap .social-icon:after {
      pointer-events: none;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      content: '';
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      top: 0;
      left: 0;
      padding: 0;
      box-shadow: 0 0 0 3px transparent;
      -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
      -moz-transition: -moz-transform 0.2s, opacity 0.2s;
      transition: transform 0.2s, opacity 0.2s; }
    .social-icon-wrap .social-icon:before {
      font-size: 36px;
      line-height: 60px;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      display: block;
      -webkit-font-smoothing: antialiased; }

/*# sourceMappingURL=main.css.map */
