h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: #263238; }

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #263238; }

h1 {
  font-size: 42px;
  color: #263238;
  text-transform: uppercase; }
  h1.display-1 {
    font-size: 48px;
    font-weight: 400;
    color: #263238; }

h2 {
  font-size: 36px;
  font-weight: 300; }

h4 {
  font-weight: 300; }

.mb-100 {
  margin-bottom: 100px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-50-mobile {
  margin-bottom: 0px; }

@media only screen and (max-width: 768px) {
  .mb-50-mobile {
    margin-bottom: 50px; } }
.mb-20 {
  margin-bottom: 20px; }

.pb-100 {
  padding-bottom: 100px; }

.section-divider {
  display: block;
  margin: auto;
  width: 40px;
  margin-top: 50px; }

.page-section {
  padding: 100px 0 0; }

.form-control {
  border: 1px solid rgba(38, 50, 56, 0.5);
  border-radius: 0;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }
  .form-control:focus {
    border: 1px solid #e72264; }

.row {
  margin-left: 0px;
  margin-right: 0px; }

.hvr-underline-from-center {
  cursor: pointer;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.3s ease-in-out color;
  -moz-transition: 0.3s ease-in-out color;
  transition: 0.3s ease-in-out color; }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    background: #E72264; }

.hvr-underline-from-center:hover, .hvr-underline-from-center:focus, .hvr-underline-from-center:active, .hvr-underline-from-center.mixitup-control-active, .hvr-underline-from-center.active {
  color: #E72264; }

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before, .hvr-underline-from-center.active:before, .hvr-underline-from-center.mixitup-control-active:before {
  left: 0;
  right: 0; }

.button {
  display: inline-block;
  width: 160px; }
  .button button {
    text-align: center;
    cursor: default;
    color: transparent;
    background-color: transparent;
    box-sizing: border-box;
    padding: 0;
    border-width: 0; }
  .button .button-link {
    cursor: pointer;
    display: block;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    text-align: center;
    position: relative;
    text-decoration: none;
    vertical-align: middle;
    width: 100%;
    color: #E72264;
    -webkit-transition: 0.3s ease-in-out all;
    -moz-transition: 0.3s ease-in-out all;
    transition: 0.3s ease-in-out all; }
    .button .button-link svg {
      height: 45px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }
    .button .button-link rect {
      fill: none;
      stroke: #E72264;
      stroke-width: 4;
      stroke-dasharray: 422, 0;
      -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
      -moz-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
      transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1); }
  .button:hover {
    background: rgba(255, 99, 71, 0);
    letter-spacing: 1px; }
  .button:hover rect {
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48; }

.social-icon-wrap {
  text-align: center;
  margin: 0 auto;
  padding: 2em 0 3em; }
  .social-icon-wrap .social-icon {
    display: inline-block;
    cursor: pointer;
    margin: 15px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: rgba(38, 50, 56, 0.5);
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s; }
    .social-icon-wrap .social-icon:hover {
      text-decoration: none;
      background-color: #E72264;
      color: white; }
      .social-icon-wrap .social-icon:hover:after {
        box-shadow: 0 0 0 2px #E72264;
        -webkit-transform: scale(1.15);
        -moz-transform: scale(1.15);
        -ms-transform: scale(1.15);
        transform: scale(1.15);
        opacity: .5; }
    .social-icon-wrap .social-icon:after {
      pointer-events: none;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      content: '';
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      top: 0;
      left: 0;
      padding: 0;
      box-shadow: 0 0 0 3px transparent;
      -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
      -moz-transition: -moz-transform 0.2s, opacity 0.2s;
      transition: transform 0.2s, opacity 0.2s; }
    .social-icon-wrap .social-icon:before {
      font-size: 36px;
      line-height: 60px;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      display: block;
      -webkit-font-smoothing: antialiased; }

a.hoverlink {
  color: #E72264;
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding: 0 .2em;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  z-index: 2; }
  a.hoverlink:before {
    content: "";
    z-index: -1;
    width: 100%;
    height: 0%;
    background: rgba(231, 34, 100, 0.1);
    bottom: 0;
    left: 0;
    position: absolute;
    border-radius: 2px;
    -webkit-transition: height 250ms;
    transition: height 250ms; }
  a.hoverlink:hover {
    border-color: transparent; }
  a.hoverlink:hover:before {
    height: 100%; }

.flex {
  display: -webkit-flex;
  display: flex; }
  .flex .content-vertical {
    align-self: center; }

@media only screen and (max-width: 768px) {
  .flex {
    display: block; }
    .flex .content-vertical {
      align-self: center; } }
.pink {
  color: #E72264; }

.orange {
  color: #F58A29; }

.navbar-toggler:focus {
  outline: none; }

#nav-icon {
  width: 30px;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }
  #nav-icon span {
    display: block;
    position: absolute;
    height: 2px;
    border-radius: 3px;
    width: 100%;
    background: #263238;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out; }
    #nav-icon span:nth-child(1) {
      top: 5px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center; }
    #nav-icon span:nth-child(2) {
      top: 15px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center; }
    #nav-icon span:nth-child(3) {
      top: 25px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center; }

#nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 5px;
  left: 4px; }

#nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0; }

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 26px;
  left: 4px; }

.navbar {
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  text-transform: uppercase; }
  .navbar a.navbar-brand {
    padding: 0; }
  .navbar .nav-link {
    color: #263238; }
    .navbar .nav-link .icon-close {
      font-size: 28px;
      line-height: 1; }
  .navbar #logo-wrapper {
    height: 50px; }
    .navbar #logo-wrapper #logo-name {
      height: 50px; }
    .navbar #logo-wrapper svg path {
      stroke-width: 2;
      stroke-linecap: round; }
    .navbar #logo-wrapper svg:hover #stroke .louise {
      stroke-dasharray: 600;
      stroke-dashoffset: 600;
      stroke-width: 2.5;
      -webkit-animation: logo-louise 1s linear forwards .5s;
      animation: logo-louise 1s linear forwards .5s; }
    .navbar #logo-wrapper svg:hover .name-hearts path {
      stroke-dasharray: 50;
      stroke-dashoffset: 50; }
    .navbar #logo-wrapper svg:hover .name-hearts .heart1-2 {
      -webkit-animation: logo-hearts 1s linear forwards 1.5s;
      animation: logo-hearts 1s linear forwards 1.5s; }
    .navbar #logo-wrapper svg:hover .name-hearts .heart1-1 {
      -webkit-animation: logo-hearts 1s linear forwards 2s;
      animation: logo-hearts 1s linear forwards 2s; }
  .navbar.animated {
    transition: all 0.5s ease; }
  .navbar.slideDown {
    transform: translateY(0); }
  .navbar.slideUp {
    transform: translateY(-100%); }

/*MENU STYLES*/
footer {
  text-align: center;
  position: relative;
  z-index: 1;
  background-color: white;
  padding-top: 100px; }
  footer .arrow-up-wrapper {
    position: relative;
    display: inline-block;
    cursor: pointer; }
    footer .arrow-up-wrapper .icon-up {
      font-size: 36px;
      display: inline-block; }
    footer .arrow-up-wrapper:hover .icon-up {
      -webkit-animation: arrow-bounce 2s infinite;
      animation: arrow-bounce 2s infinite; }
  footer #logo-wrapper2 {
    height: 50px;
    margin: 20px 0; }
    footer #logo-wrapper2 #logo-name {
      height: 50px; }
    footer #logo-wrapper2 svg path {
      stroke-width: 2;
      stroke-linecap: round; }

.jumbotron-wrapper {
  height: 100vh;
  min-height: 500px;
  position: relative; }
  .jumbotron-wrapper .intro-scroll-wrapper {
    position: absolute;
    left: 50%;
    bottom: 10px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
    .jumbotron-wrapper .intro-scroll-wrapper .intro-scroll {
      display: inline-block;
      color: white;
      font-size: 40px; }
    .jumbotron-wrapper .intro-scroll-wrapper:hover .intro-scroll {
      -webkit-animation: arrow-bounce 2s infinite;
      animation: arrow-bounce 2s infinite; }
  .jumbotron-wrapper .jumbotron {
    background-color: #e72264;
    background-image: linear-gradient(135deg, #E72264 30%, #F58A29 70%);
    position: fixed;
    /* do not overlap the header */
    bottom: 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    text-align: center;
    border: 10px solid white;
    margin-bottom: 0; }
    .jumbotron-wrapper .jumbotron .jumbotron-content-wrapper {
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    .jumbotron-wrapper .jumbotron p {
      color: white;
      font-size: 24px;
      margin-top: 20px; }
    .jumbotron-wrapper .jumbotron #intro-image {
      width: 100px;
      margin-bottom: 50px; }
    .jumbotron-wrapper .jumbotron #svgWrapper {
      width: 80%;
      height: auto;
      margin: auto; }
      .jumbotron-wrapper .jumbotron #svgWrapper svg #stroke {
        stroke-linecap: round;
        shape-rendering: geometricPrecision; }
        .jumbotron-wrapper .jumbotron #svgWrapper svg #stroke .louise {
          stroke-dasharray: 2200;
          stroke-dashoffset: 2200;
          stroke-width: 8;
          -webkit-animation: name-louise 1.5s linear forwards .5s;
          animation: name-louise 1.5s linear forwards .5s; }
        .jumbotron-wrapper .jumbotron #svgWrapper svg #stroke .r {
          stroke-dasharray: 800;
          stroke-dashoffset: 800;
          stroke-width: 8;
          -webkit-animation: name-r .5s linear forwards 2.25s;
          animation: name-r .5s linear forwards 2.25s; }
        .jumbotron-wrapper .jumbotron #svgWrapper svg #stroke .w {
          stroke-dasharray: 800;
          stroke-dashoffset: 800;
          stroke-width: 8;
          -webkit-animation: name-w .5s linear forwards 3s;
          animation: name-w .5s linear forwards 3s; }
        .jumbotron-wrapper .jumbotron #svgWrapper svg #stroke .hitaker {
          stroke-dasharray: 2400;
          stroke-dashoffset: 2400;
          stroke-width: 8;
          -webkit-animation: name-hitaker 1.5s linear forwards 3.75s;
          animation: name-hitaker 1.5s linear forwards 3.75s; }
        .jumbotron-wrapper .jumbotron #svgWrapper svg #stroke .t-cross {
          stroke-dasharray: 200;
          stroke-dashoffset: 200;
          stroke-width: 8;
          -webkit-animation: name-t-cross .5s linear forwards 5.5s;
          animation: name-t-cross .5s linear forwards 5.5s; }
      .jumbotron-wrapper .jumbotron #svgWrapper svg .name-hearts path {
        stroke-dasharray: 100;
        stroke-dashoffset: 100;
        stroke-width: 7;
        stroke-linecap: round; }
      .jumbotron-wrapper .jumbotron #svgWrapper svg .name-hearts .heart1-2 {
        -webkit-animation: name-hearts .25s linear forwards 6.25s;
        animation: name-hearts .25s linear forwards 6.25s; }
      .jumbotron-wrapper .jumbotron #svgWrapper svg .name-hearts .heart1-1 {
        -webkit-animation: name-hearts .25s linear forwards 6.75s;
        animation: name-hearts .25s linear forwards 6.75s; }
      .jumbotron-wrapper .jumbotron #svgWrapper svg .name-hearts .heart2-2 {
        -webkit-animation: name-hearts .25s linear forwards 7.25s;
        animation: name-hearts .25s linear forwards 7.25s; }
      .jumbotron-wrapper .jumbotron #svgWrapper svg .name-hearts .heart2-1 {
        -webkit-animation: name-hearts .25s linear forwards 7.75s;
        animation: name-hearts .25s linear forwards 7.75s; }

.controls {
  margin-bottom: 30px;
  font-size: 1.25rem; }
  .controls button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: #263238;
    background-color: transparent;
    padding: 2px 6px 3px;
    border: none; }
    .controls button:focus {
      outline: 0; }

.portfolio-cards .mix {
  padding: 15px;
  position: relative; }
  .portfolio-cards .mix .content-wrapper {
    overflow: hidden;
    display: block;
    position: relative; }
    .portfolio-cards .mix .content-wrapper:hover img {
      transform: scale(1.05); }
    .portfolio-cards .mix .content-wrapper img {
      display: block;
      position: relative;
      -webkit-transition: all 2.5s cubic-bezier(0.19, 1, 0.22, 1);
      -moz-transition: all 2.5s cubic-bezier(0.19, 1, 0.22, 1);
      transition: all 2.5s cubic-bezier(0.19, 1, 0.22, 1); }
    .portfolio-cards .mix .content-wrapper .portfolio-caption {
      position: absolute;
      background: #333;
      background: rgba(38, 50, 56, 0.7);
      width: 100%;
      height: 100%; }
      .portfolio-cards .mix .content-wrapper .portfolio-caption span {
        text-align: center;
        position: absolute;
        bottom: 0;
        display: block;
        padding: 40px;
        width: 100%;
        font-size: 24px;
        color: white; }
        .portfolio-cards .mix .content-wrapper .portfolio-caption span .project-title {
          margin-bottom: 5px; }
        .portfolio-cards .mix .content-wrapper .portfolio-caption span .project-tags {
          font-size: 14px; }

.about-me-cards {
  color: white; }
  .about-me-cards .about-me-cards-wrapper {
    padding: 15px; }
  .about-me-cards .card {
    text-align: center;
    color: white;
    border: none; }
    .about-me-cards .card.color1 {
      background-color: #E72264; }
    .about-me-cards .card.color2 {
      background-color: #F58A29; }
    .about-me-cards .card i {
      font-size: 42px; }
    .about-me-cards .card h4 {
      font-weight: 300;
      color: white; }
    .about-me-cards .card .card-body {
      padding: 40px 20px;
      -webkit-transition: all 1.8s cubic-bezier(0.19, 1, 0.22, 1);
      -moz-transition: all 1.8s cubic-bezier(0.19, 1, 0.22, 1);
      transition: all 1.8s cubic-bezier(0.19, 1, 0.22, 1); }
    .about-me-cards .card:hover .card-body {
      transform: scale(1.2); }

#project-page-content-wrapper {
  background-color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -100;
  overflow-y: scroll; }
  #project-page-content-wrapper.visible {
    z-index: 1100; }

.noscroll {
  overflow: hidden; }

.page-card-grid {
  position: relative;
  perspective: 1500px;
  /* Allow the contents to cover other items on the page. */
  z-index: 10; }
  .page-card-grid .page-card-target.active {
    opacity: 0; }

.placeholder {
  position: absolute;
  transform: none;
  /* TODO(lwhitaker): Update transition style. */
  transition: all ease-in .5s;
  transform-style: preserve-3d;
  z-index: 10; }
  .placeholder.page-animate-in {
    transform: rotateY(-179.9deg); }
  .placeholder .page-card-content,
  .placeholder .back {
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden; }
  .placeholder .back {
    background-color: white;
    transform: rotateY(180deg); }

.home-page-content {
  background-color: white;
  z-index: 2; }

.page-intro {
  padding-top: 150px; }
  .page-intro i {
    font-size: 42px;
    color: #263238; }

.about-photo {
  width: 40%;
  margin: 0 40px 40px 0;
  float: left; }

.about-intro {
  margin: 36px 0; }

@media only screen and (max-width: 767px) {
  .about-photo {
    width: 100%; } }
.hobbies {
  text-align: center; }
  .hobbies i {
    font-size: 42px;
    display: inline-block;
    cursor: pointer;
    margin: 15px 30px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
    position: relative;
    z-index: 1;
    color: white;
    background-color: #E72264; }
    .hobbies i:before {
      line-height: 80px; }

.process-line .section-inner {
  position: relative;
  margin: 0px auto;
  width: 100%;
  overflow: hidden; }

.stem-wrapper {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 50%; }

.stem-wrapper.color-pink .stem-background {
  background: pink; }

.stem-wrapper.color-orange .stem-background {
  background: orange; }

.stem-wrapper .stem,
.stem-wrapper .stem-background {
  position: absolute;
  top: 0px;
  left: -30px;
  width: 60px; }

.stem-wrapper .stem {
  background: grey;
  height: 100%; }

.stem-wrapper .stem-background {
  background: pink;
  height: 50%;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s; }

.stem-padding,
.single-stem-icon {
  width: 60px;
  height: 60px;
  margin: 0px auto;
  background: transparent url("../img/timeline/stem.png") repeat-y top center; }

/*==========  Post wrapper ==========*/
.post-wrapper {
  *zoom: 1; }

.post-wrapper:before,
.post-wrapper:after {
  content: "";
  display: table; }

.post-wrapper:after {
  clear: both; }

.post-wrapper .post {
  position: relative;
  width: 432px;
  padding: 0px 0px 60px 0px;
  clear: both;
  opacity: 1;
  -webkit-perspective: 1000px;
  perspective: 1000px; }

.post-wrapper .post.hidden .post-content {
  -webkit-transform: translateY(100px) rotateX(30deg);
  transform: translateY(100px) rotateX(30deg);
  opacity: 0; }

.post-wrapper .post:hover .post-content,
.post-wrapper .post.active .post-content {
  opacity: 1; }

.post-wrapper .post:hover .post-content .meta,
.post-wrapper .post.active .post-content .meta {
  opacity: 1;
  -webkit-transform: none;
  transform: none; }

.post-wrapper .post:nth-child(even) {
  float: right; }

.post-wrapper .post:nth-child(odd) {
  float: left; }

.post-wrapper .post:nth-child(even) .stem-overlay {
  left: -110px; }

.post-wrapper .post:nth-child(odd) .stem-overlay {
  right: -110px; }

.post-wrapper .post.research-icon .stem-overlay .icon {
  background-image: url("../img/timeline/research.png");
  background-size: cover; }

.post-wrapper .post.brainstorm-icon .stem-overlay .icon {
  background-image: url("../img/timeline/brainstorm.png");
  background-size: cover; }

.post-wrapper .post.design-icon .stem-overlay .icon {
  background-image: url("../img/timeline/design.png");
  background-size: cover; }

.post-wrapper .post.test-icon .stem-overlay .icon {
  background-image: url("../img/timeline/test.png");
  background-size: cover; }

.post-wrapper .post.iterate-icon .stem-overlay .icon {
  background-image: url("../img/timeline/iterate.png");
  background-size: cover; }

.post-wrapper .post .stem-overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 60px; }

.post-wrapper .post .stem-overlay .icon {
  background: transparent no-repeat center center;
  height: 60px;
  width: 60px;
  cursor: pointer; }

.post-wrapper .post .stem-overlay .stem-mask {
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: transparent url("../img/timeline/stem.png") repeat-y top center; }

.post-wrapper .post .post-content {
  opacity: .3;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transform: none;
  transform: none; }

.post-wrapper .post .post-content .meta {
  margin: 0px 0px 15px 0px;
  letter-spacing: 1px;
  opacity: 0;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px); }

.post-wrapper .post .post-content .post-title {
  font-size: 32px;
  line-height: 42px;
  margin: 0px 0px 15px 0px; }

@media only screen and (max-width: 767px) {
  .post-wrapper .post .post-content .post-title {
    font-size: 24px;
    line-height: 36px; } }
/*==========  Media queries  ==========*/
@media only screen and (max-width: 1080px) {
  .timeline,
  .timeline .section-inner {
    max-width: none; }

  .stem-wrapper {
    left: 80px; }

  .stem-padding,
  .single-stem-icon {
    margin: 0px;
    float: left;
    margin-left: 50px; }

  .post-wrapper .post,
  .post-wrapper .post:nth-child(even),
  .post-wrapper .post:nth-child(odd) {
    width: auto;
    margin-left: 110px;
    float: none; }

  .post-wrapper .post .stem-overlay,
  .post-wrapper .post:nth-child(even) .stem-overlay,
  .post-wrapper .post:nth-child(odd) .stem-overlay {
    left: -60px;
    right: auto; }

  .post-wrapper .post .post-content {
    padding: 0px 50px; } }
@media only screen and (max-width: 700px) {
  .header .page-title {
    font-size: 40px; }

  .post-wrapper .post {
    margin-left: 90px !important; }

  .post-wrapper .post .post-content {
    padding: 0 25px; }

  .stem-wrapper {
    left: 60px; }

  .stem-padding,
  .single-stem-icon {
    margin-left: 30px; } }
.background-wrapper {
  text-align: center;
  position: relative;
  z-index: 1;
  background-color: white; }

.expertise {
  text-align: center; }
  .expertise i {
    font-size: 60px; }

.skills {
  text-align: center; }
  .skills ul {
    padding-left: 0;
    list-style: none;
    margin-top: 24px; }
    .skills ul li {
      margin-bottom: 16px; }

#timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  #timeline::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 2px;
    background: #e6e6e6; }
  #timeline .timeline-block {
    position: relative;
    margin: 2em 0; }
    #timeline .timeline-block:after {
      content: "";
      display: table;
      clear: both; }
    #timeline .timeline-block:first-child {
      margin-top: 0; }
    #timeline .timeline-block:last-child {
      margin-bottom: 0; }
    #timeline .timeline-block .timeline-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      background-color: white; }
      #timeline .timeline-block .timeline-img img {
        display: block;
        width: 24px;
        height: 24px;
        position: relative;
        left: 50%;
        top: 50%;
        margin-left: -12px;
        margin-top: -12px; }
    #timeline .timeline-block .timeline-content {
      position: relative;
      margin-left: 60px;
      padding: 1em; }
      #timeline .timeline-block .timeline-content:after {
        content: "";
        display: table;
        clear: both; }
      #timeline .timeline-block .timeline-content::before {
        content: '';
        position: absolute;
        top: 16px;
        right: 100%;
        height: 0;
        width: 0; }
      #timeline .timeline-block .timeline-content p .date {
        float: left;
        font-style: italic; }
      #timeline .timeline-block .timeline-content p .location {
        float: right; }
      #timeline .timeline-block .timeline-content h3 {
        clear: both;
        font-size: 22px;
        font-weight: 500;
        padding-top: 10px;
        margin-bottom: 20px; }
        #timeline .timeline-block .timeline-content h3 span.job-position {
          font-family: "Raleway", sans-serif;
          font-weight: 300;
          font-size: 20px;
          margin-left: 10px; }
      #timeline .timeline-block .timeline-content ul {
        list-style: none;
        padding-left: 0px; }
        #timeline .timeline-block .timeline-content ul li {
          margin-bottom: 10px; }

@media only screen and (max-width: 767px) {
  #timeline .timeline-block .timeline-content p .date {
    float: none;
    display: block; }
  #timeline .timeline-block .timeline-content p .location {
    float: none;
    display: block; } }
@media only screen and (min-width: 1170px) {
  #timeline {
    margin-top: 3em;
    margin-bottom: 3em; }
    #timeline::before {
      left: 50%;
      margin-left: -2px; }
    #timeline .timeline-block {
      margin: 4em 0; }
      #timeline .timeline-block:first-child {
        margin-top: 0; }
      #timeline .timeline-block:last-child {
        margin-bottom: 0; }
      #timeline .timeline-block:nth-child(even) .timeline-content {
        float: right; }
        #timeline .timeline-block:nth-child(even) .timeline-content::before {
          top: 24px;
          left: auto;
          right: 100%; }
      #timeline .timeline-block .timeline-img {
        width: 60px;
        height: 60px;
        left: 50%;
        margin-left: -30px;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden; }
        #timeline .timeline-block .timeline-img.is-hidden {
          visibility: hidden; }
        #timeline .timeline-block .timeline-img.bounce-in {
          visibility: visible;
          -webkit-animation: bounce-1 0.6s;
          -moz-animation: bounce-1 0.6s;
          animation: bounce-1 0.6s; }
      #timeline .timeline-block .timeline-content {
        margin-left: 0;
        padding: 1.6em;
        width: 45%; }
        #timeline .timeline-block .timeline-content::before {
          top: 24px;
          left: 100%; }

  .cssanimations .timeline-content.is-hidden {
    visibility: hidden; }

  .cssanimations .timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: bounce-2 0.6s;
    -moz-animation: bounce-2 0.6s;
    animation: bounce-2 0.6s; }

  .cssanimations .timeline-block:nth-child(even) .timeline-content.bounce-in {
    -webkit-animation: bounce-2-inverse 0.6s;
    -moz-animation: bounce-2-inverse 0.6s;
    animation: bounce-2-inverse 0.6s; } }
.project-intro {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  z-index: -1; }
  .project-intro.right .project-intro-image::before {
    -webkit-transform: translateX(200%);
    transform: translateX(200%); }
  .project-intro.right .project-intro-image.scrolled::before {
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }
  .project-intro.right .project-intro-text {
    left: 50%; }
  .project-intro.left .project-intro-image::before {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }
  .project-intro.left .project-intro-image.scrolled::before {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  .project-intro.left .project-intro-text {
    left: 0; }
  .project-intro .project-intro-text {
    z-index: 1000;
    margin: 0 auto;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 0;
    padding: 0 3em 0 2em;
    width: 50%;
    -webkit-transform: translateY(-50%); }
    .project-intro .project-intro-text p {
      opacity: 0;
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
      -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
      transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s; }
      .project-intro .project-intro-text p.project-category {
        transition-delay: .2s;
        font-style: italic; }
      .project-intro .project-intro-text p.project-date {
        transition-delay: .8s; }
      .project-intro .project-intro-text p.project-description {
        transition-delay: .6s;
        margin: 30px 0; }
      .project-intro .project-intro-text p.scrolled {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0); }
    .project-intro .project-intro-text .section-divider {
      opacity: 0;
      -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
      transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
      -webkit-transition-duration: 1s;
      transition-duration: 1s; }
      .project-intro .project-intro-text .section-divider.scrolled {
        opacity: 1; }
    .project-intro .project-intro-text h1 {
      opacity: 0;
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
      -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
      transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      transition-delay: .4s; }
      .project-intro .project-intro-text h1.scrolled {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0); }
  .project-intro .project-intro-image {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    .project-intro .project-intro-image::before {
      background: #fbfbfb;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
      transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      content: '';
      position: absolute;
      z-index: 100; }
    .project-intro .project-intro-image::after {
      border: 10px solid #fff;
      top: -10px;
      right: -10px;
      bottom: -10px;
      left: -10px;
      -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
      transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      content: '';
      position: absolute;
      z-index: 100; }
    .project-intro .project-intro-image.scrolled::after {
      border: 10px solid #fbfbfb;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(255, 255, 255, 0);
      content: '';
      position: absolute;
      z-index: 100; }
    .project-intro .project-intro-image .image-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      overflow: hidden;
      text-align: center; }
      .project-intro .project-intro-image .image-wrapper img {
        width: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        position: absolute; }

.project-overview {
  background-color: white;
  padding-bottom: 50px; }
  .project-overview .at-a-glance {
    margin: 20px 0 80px; }
  .project-overview .image-wrapper {
    width: 100%;
    height: 300px;
    overflow: hidden; }
    .project-overview .image-wrapper img {
      width: 100%;
      height: auto; }

.project-intro-text-mobile {
  background-color: #fbfbfb;
  padding: 15px;
  margin-top: -150px;
  z-index: 1;
  display: none; }

@media only screen and (max-width: 767px) {
  .project-intro-text-mobile {
    display: block; } }
@media only screen and (max-width: 575px) {
  .project-process .page-section .step-wrapper::before {
    display: none; }
  .project-process .page-section .step-icon {
    display: none; } }
.project-process {
  background-color: #fbfbfb;
  padding-bottom: 50px; }
  .project-process .page-section .step-wrapper {
    position: relative; }
    .project-process .page-section .step-wrapper::before {
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      width: 2px;
      background: #e6e6e6;
      left: 30px; }
  .project-process .page-section h5 {
    margin-bottom: 20px; }
  .project-process .page-section .card {
    background-color: transparent;
    border: none;
    border-radius: 0; }
    .project-process .page-section .card .card-img-top {
      border-radius: 0; }
    .project-process .page-section .card .card-text {
      margin-top: 10px;
      font-style: italic; }
  .project-process .page-section .step-icon {
    width: 32px;
    margin-right: 20px;
    background-color: #fbfbfb;
    z-index: 5;
    padding: 4px; }
  .project-process .page-section .image-slider {
    width: 100%;
    height: auto; }
    .project-process .page-section .image-slider .slick-list {
      height: 500px; }
    .project-process .page-section .image-slider .slick-prev {
      font-size: 0;
      line-height: 0;
      position: absolute;
      top: 50%;
      display: block;
      width: 40px;
      height: 40px;
      margin-top: -10px;
      padding: 0;
      cursor: pointer;
      color: transparent;
      border: none;
      outline: none;
      background: transparent;
      z-index: 20; }
      .project-process .page-section .image-slider .slick-prev::before {
        font-family: 'portfolio-icons';
        content: "\72";
        font-size: 40px;
        line-height: 1;
        opacity: .75;
        color: #263238; }
    .project-process .page-section .image-slider .slick-next {
      font-size: 0;
      line-height: 0;
      position: absolute;
      top: 50%;
      right: 0;
      display: block;
      width: 40px;
      height: 40px;
      margin-top: -10px;
      padding: 0;
      cursor: pointer;
      color: transparent;
      border: none;
      outline: none;
      background: transparent;
      z-index: 20; }
      .project-process .page-section .image-slider .slick-next::before {
        font-family: 'portfolio-icons';
        content: "\6f";
        font-size: 40px;
        line-height: 1;
        opacity: .75;
        color: #263238; }

@media only screen and (max-width: 575px) {
  .project-process .page-section .step-wrapper::before {
    display: none; }
  .project-process .page-section .step-icon {
    display: none; } }
@keyframes arrow-bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-30px); }
  60% {
    transform: translateY(-15px); } }
/*MENU ANIMATION*/
@-webkit-keyframes logo-louise {
  0% {
    stroke-dashoffset: 600; }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 2.5; } }
@keyframes logo-louise {
  0% {
    stroke-dashoffset: 600; }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 2.5; } }
@-webkit-keyframes logo-hearts {
  0% {
    stroke-dashoffset: 50; }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 2; } }
@keyframes logo-hearts {
  0% {
    stroke-dashoffset: 50; }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 2; } }
/*MENU ANIMATION*/
/*HANDWRITING ANIMATION*/
@-webkit-keyframes name-louise {
  0% {
    stroke-dashoffset: 2200; }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 9; } }
@keyframes name-louise {
  0% {
    stroke-dashoffset: 2200; }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 9; } }
@-webkit-keyframes name-r {
  0% {
    stroke-dashoffset: 800; }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 9; } }
@keyframes name-r {
  0% {
    stroke-dashoffset: 800; }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 9; } }
@-webkit-keyframes name-w {
  0% {
    stroke-dashoffset: 800; }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 9; } }
@keyframes name-w {
  0% {
    stroke-dashoffset: 800; }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 9; } }
@-webkit-keyframes name-hitaker {
  0% {
    stroke-dashoffset: 2400; }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 9; } }
@keyframes name-hitaker {
  0% {
    stroke-dashoffset: 2400; }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 9; } }
@-webkit-keyframes name-t-cross {
  0% {
    stroke-dashoffset: 200; }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 9; } }
@keyframes name-t-cross {
  0% {
    stroke-dashoffset: 200; }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 9; } }
@-webkit-keyframes name-hearts {
  0% {
    stroke-dashoffset: 100; }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 7; } }
@keyframes name-hearts {
  0% {
    stroke-dashoffset: 100; }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 7; } }
/*END HANDWRITING ANIMATION*/
@-webkit-keyframes bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5); }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1); } }
@-moz-keyframes bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5); }
  60% {
    opacity: 1;
    -moz-transform: scale(1.2); }
  100% {
    -moz-transform: scale(1); } }
@keyframes bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5); }
  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-webkit-keyframes bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px); }
  100% {
    -webkit-transform: translateX(0); } }
@-moz-keyframes bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px); }
  60% {
    opacity: 1;
    -moz-transform: translateX(20px); }
  100% {
    -moz-transform: translateX(0); } }
@keyframes bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px); }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); } }
@-webkit-keyframes bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px); }
  100% {
    -webkit-transform: translateX(0); } }
@-moz-keyframes bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px); }
  60% {
    opacity: 1;
    -moz-transform: translateX(-20px); }
  100% {
    -moz-transform: translateX(0); } }
@keyframes bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px); }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); } }

/*# sourceMappingURL=main.css.map */
