$header-font:       'Montserrat', sans-serif;
$body-font:         'Raleway', sans-serif;
$primary-color:     #E72264;
$secondary-color:   #F58A29;
$dark-color:        #263238;

h1, h2, h3, h4, h5, h6{
  font-family: $header-font;
}
body{
  font-family: $body-font;
  font-weight: 400;
}
h1{
  font-size: 36px;
  color: $primary-color;
  text-transform: uppercase;
}
h2{
  font-size: 32px;
  font-weight: 300;
}

/* PAGE ANIMATION */
.portfolio-cards {
  position: relative;
  perspective: 1500px;
  /* Allow the contents to cover other items on the page. */
  z-index: 1;
}

.placeholder {
  position: absolute;
  transform: none;
  /* TODO(lwhitaker): Update transition style. */
  transition: all ease-in .5s;
  transform-style: preserve-3d;
  z-index: 10;

  &.page-animate-in {
    transform: rotateY(-179.9deg);

    img,
    .back {
      height: 100%;
      width: 100%;
      position: absolute;
      backface-visibility: hidden;
    }

    .back {
      background-color: white;
      transform: rotateY(180deg);
    }
  }
}

/*MENU ANIMATION*/
.navbar{
  background-color: white;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
  text-transform: uppercase;
  a.navbar-brand{
    padding: 0;
  }
  .nav-link{
    color: $dark-color;
  }
  #logo-wrapper{
    height: 50px;
    #logo-name{
      height:50px;
    }
    svg{
      path{
        stroke-width: 2;
        stroke-linecap: round;
      }

    }
    svg:hover{
      #stroke .louise {
        stroke-dasharray: 600;
        stroke-dashoffset: 600;
        stroke-width: 2.5;
        -webkit-animation: logo-louise 1s linear forwards .5s;
                animation: logo-louise 1s linear forwards .5s;
      }
      .name-hearts path{
        stroke-dasharray: 50;
        stroke-dashoffset: 50;
      }
      .name-hearts .heart1-2{
        -webkit-animation: logo-hearts 1s linear forwards 1.5s;
                animation: logo-hearts 1s linear forwards 1.5s;
      }
      .name-hearts .heart1-1{
        -webkit-animation: logo-hearts 1s linear forwards 2s;
                animation: logo-hearts 1s linear forwards 2s;
      }
    }
  }
  &.animated {
    transition: all 0.5s ease;
  }
  &.slideDown {
    transform: translateY(0);
  }
  &.slideUp {
    transform: translateY(-100%);
  }
}
/*END MENU ANIMATION*/

@-webkit-keyframes logo-louise {
  0% {
    stroke-dashoffset: 600;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 2.5;
  }
}

@keyframes logo-louise {
  0% {
    stroke-dashoffset: 600;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 2.5;
  }
}
@-webkit-keyframes logo-hearts{
  0% {
    stroke-dashoffset: 50;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 2;
  }
}
@keyframes logo-hearts {
  0% {
    stroke-dashoffset: 50;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 2;
  }
}

.sticky-wrapper {
  background-color: white;
}

.jumbotron-wrapper {
  height: 100vh;
  min-height: 500px;
  position: relative;

  .jumbotron{
    background-color: #e72264;
    background-image: linear-gradient(135deg, $primary-color 30%, $secondary-color 70%);
    position: fixed;
    /* do not overlap the header */
    bottom: 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    text-align: center;
    border: 10px solid white;
    margin-bottom: 0;

    p{
      color: white;
    }
    #intro-image{
      width: 100px;
    }
    #svgWrapper{
      width: 60%;
      height: auto;
      margin: auto;
      svg{
        #stroke{
          stroke-linecap: round;
          shape-rendering: geometricPrecision;
          .louise{
            stroke-dasharray: 2400;
            stroke-dashoffset: 2400;
            stroke-width: 8;
            -webkit-animation: name-louise 2s linear forwards .5s;
                    animation: name-louise 2s linear forwards .5s;
          }
          .r {
            stroke-dasharray: 1200;
            stroke-dashoffset: 1200;
            stroke-width: 8;
            -webkit-animation: name-r .75s linear forwards 2.5s;
                    animation: name-r .75s linear forwards 2.5s;
          }
          .w {
            stroke-dasharray: 1200;
            stroke-dashoffset: 1200;
            stroke-width: 8;
            -webkit-animation: name-w .75s linear forwards 3.25s;
                    animation: name-w .75s linear forwards 3.25s;
          }
          .hitaker {
            stroke-dasharray: 2400;
            stroke-dashoffset: 2400;
            stroke-width: 8;
            -webkit-animation: name-hitaker 2s linear forwards 4s;
                    animation: name-hitaker 2s linear forwards 4s;
          }
          .t-cross {
            stroke-dasharray: 400;
            stroke-dashoffset: 400;
            stroke-width: 8;
            -webkit-animation: name-t-cross 1s linear forwards 5.7s;
                    animation: name-t-cross 1s linear forwards 5.7s;
          }
        }
        .name-hearts{
          path{
            stroke-dasharray: 400;
            stroke-dashoffset: 400;
            stroke-width: 7;
            stroke-linecap: round;
          }
          .heart1-2{
            -webkit-animation: name-hearts 1s linear forwards 6.7s;
                    animation: name-hearts 1s linear forwards 6.7s;
          }
          .heart1-1{
            -webkit-animation: name-hearts 1s linear forwards 7.7s;
                    animation: name-hearts 1s linear forwards 7.7s;
          }
          .heart2-2{
            -webkit-animation: name-hearts 1s linear forwards 8.7s;
                    animation: name-hearts 1s linear forwards 8.7s;
          }
          .heart2-1{
            -webkit-animation: name-hearts 1s linear forwards 9.7s;
                    animation: name-hearts 1s linear forwards 9.7s;
          }
        }
      }
    }
  }
}

.home-page-content{
  background-color: white;
  z-index: 2;
  padding-top: 50px;
}



/*HANDWRITING ANIMATION*/
@-webkit-keyframes name-louise {
  0% {
    stroke-dashoffset: 2400;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 9;
  }
}

@keyframes name-louise {
  0% {
    stroke-dashoffset: 2400;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 9;
  }
}
@-webkit-keyframes name-r {
  0% {
    stroke-dashoffset: 1200;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 9;
  }
}
@keyframes name-r {
  0% {
    stroke-dashoffset: 1200;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 9;
  }
}
@-webkit-keyframes name-w {
  0% {
    stroke-dashoffset: 1200;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 9;
  }
}
@keyframes name-w {
  0% {
    stroke-dashoffset: 1200;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 9;
  }
}
@-webkit-keyframes name-hitaker {
  0% {
    stroke-dashoffset: 2400;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 9;
  }
}

@keyframes name-hitaker {
  0% {
    stroke-dashoffset: 2400;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 9;
  }
}
@-webkit-keyframes name-t-cross{
  0% {
    stroke-dashoffset: 400;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 9;
  }
}

@keyframes name-t-cross {
  0% {
    stroke-dashoffset: 400;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 9;
  }
}

@-webkit-keyframes name-hearts{
  0% {
    stroke-dashoffset: 400;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 7;
  }
}
@keyframes name-hearts {
  0% {
    stroke-dashoffset: 400;
  }
  100% {
    stroke-dashoffset: 0;
    stroke-width: 7;
  }
}
/*END HANDWRITING ANIMATION*/


.hvr-overline-from-center {
  cursor: pointer;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.3s ease-in-out color;
  -moz-transition: 0.3s ease-in-out color;
  transition: 0.3s ease-in-out color;
  &:before{
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    background: $primary-color;
  }
}
.hvr-overline-from-center:hover, .hvr-overline-from-center:focus, .hvr-overline-from-center:active, .hvr-overline-from-center.active {
  color: $primary-color;
}
.hvr-overline-from-center:hover:before, .hvr-overline-from-center:focus:before, .hvr-overline-from-center:active:before, .hvr-overline-from-center.active:before {
  left: 0;
  right: 0;
}

.section-divider{
  display: block;
  margin: auto;
  width: 40px;
  margin-top: 50px;
}

.page-section{
  margin: 0 auto 100px;
  h2{
    margin-bottom: 50px;
  }
}

.section-intro{
  h1{
    margin-bottom: 50px;
  }
  p{
    margin-bottom: 100px;
  }
  i{
    font-size: 42px;
    color: $primary-color;
  }
  .section-divider{
    margin-top: 0px;
  }
}

a.hoverlink {
  color: $primary-color;
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding: 0 .2em;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  z-index: 2;
  &:before {
    content: "";
    z-index: -1;
    width: 100%;
    height: 0%;
    background: rgba($primary-color, 0.10);
    bottom: 0;
    left: 0;
    position: absolute;
    border-radius: 2px;
    -webkit-transition: height 250ms;
    transition: height 250ms;
  }
  &:hover {
    border-color: transparent;
  }
  &:hover:before {
    height: 100%;
  }
}
// button {
//     text-align: center;
//     cursor: default;
//     color: transparent;
//     background-color: transparent;
//     box-sizing: border-box;
//     padding: 0;
//     border-width: 0;
// }
.button{
  .button-link{
    cursor: pointer;
    display: block;
    font-weight: 400;
    line-height: 45px;
    max-width: 160px;
    text-align: center;
    position: relative;
    text-decoration: none;
    vertical-align: middle;
    width: 100%;
    color: $primary-color;
    -webkit-transition: 0.3s ease-in-out all;
    -moz-transition: 0.3s ease-in-out all;
    transition: 0.3s ease-in-out all;
    svg{
      height: 45px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
    rect{
      fill: none;
      stroke: $primary-color;
      stroke-width: 4;
      stroke-dasharray: 422, 0;
      -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
      -moz-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
      transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
  &:hover{
    background: rgba(255, 99, 71, 0);
    letter-spacing: 1px;
  }
  &:hover rect{
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
  }
}

// FOOTER STYLES
footer{
  text-align: center;
  .arrow-up-wrapper{
    position: relative;
    display: inline-block;
    cursor: pointer;
    .icon-up{
      font-size: 36px;
      display: inline-block;
    }
    &:hover .icon-up{
      -webkit-animation: bounce 2s infinite;
      animation: bounce 2s infinite;
    }
  }
  #logo-wrapper2{
    height: 50px;
    margin: 20px 0;
    #logo-name{
      height:50px;
    }
    svg{
      path{
        stroke-width: 2;
        stroke-linecap: round;
      }

    }
    // svg:hover{
    //   #stroke .louise {
    //     stroke-dasharray: 600;
    //     stroke-dashoffset: 600;
    //     stroke-width: 2.5;
    //     -webkit-animation: logo-louise 1s linear forwards .5s;
    //             animation: logo-louise 1s linear forwards .5s;
    //   }
    //   .name-hearts path{
    //     stroke-dasharray: 50;
    //     stroke-dashoffset: 50;
    //   }
    //   .name-hearts .heart1-2{
    //     -webkit-animation: logo-hearts 1s linear forwards 1.5s;
    //             animation: logo-hearts 1s linear forwards 1.5s;
    //   }
    //   .name-hearts .heart1-1{
    //     -webkit-animation: logo-hearts 1s linear forwards 2s;
    //             animation: logo-hearts 1s linear forwards 2s;
    //   }
    // }
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.social-icon-wrap {
	text-align: center;
	margin: 0 auto;
	padding: 2em 0 3em;
  .social-icon {
    display: inline-block;
  // 	font-size: 0px;
    cursor: pointer;
    margin: 15px 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
  	position: relative;
  	z-index: 1;
  	color: rgba($dark-color, .5);
    -webkit-transition: box-shadow 0.2s;
    -moz-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
    &:hover{
      text-decoration: none;
      background-color: $primary-color;
      color: white;
      // box-shadow: 0 0 0 6px rgba($primary-color,1);
      &:after{
        box-shadow: 0 0 0 2px $primary-color;
        -webkit-transform: scale(1.15);
        -moz-transform: scale(1.15);
        -ms-transform: scale(1.15);
        transform: scale(1.15);
        opacity: .5;
      }
    }
    &:after{
      pointer-events: none;
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      content: '';
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      top: 0;
      left: 0;
      padding: 0;
      box-shadow: 0 0 0 3px transparent;
      -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
      -moz-transition: -moz-transform 0.2s, opacity 0.2s;
      transition: transform 0.2s, opacity 0.2s;
    }
    &:before {
    	font-size: 36px;
    	line-height: 60px;
    	font-style: normal;
    	font-weight: normal;
    	font-variant: normal;
    	text-transform: none;
    	display: block;
    	-webkit-font-smoothing: antialiased;
    }
  }
}


.about-me-cards{
  .card{
    border: none;

  }
}
.col-sm-4{
  .card{
    text-align: center;
    color: white;
    &.color1{
      background-color: $primary-color;
    }
    &.color2{
      background-color: $secondary-color;
    }
    i{
      font-size: 42px;
    }
    h4{
      font-weight: 300;
    }
    .card-body{
      padding: 40px 20px;
    }
  }
}

.page-content{
  margin-top: 150px;
}
.hobbies{
  text-align: center;
  i{
    font-size: 42px;
    display: inline-block;
  // 	font-size: 0px;
    cursor: pointer;
    margin: 15px 30px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    text-align: center;
  	position: relative;
  	z-index: 1;
  	color: white;
    background-color: $primary-color;
    &:before{
      line-height: 80px;
    }
  }
}


/*==========  Sections  ==========*/

.timeline {
  margin: 0px auto;
  position: relative;
}
.timeline .section-inner,
.timeline .post-wrapper {
  *zoom: 1;
}
.timeline .section-inner:before,
.timeline .post-wrapper:before,
.timeline .section-inner:after,
.timeline .post-wrapper:after {
  content: "";
  display: table;
}
.timeline .section-inner:after,
.timeline .post-wrapper:after {
  clear: both;
}
.section .section-inner {
  margin: 0px auto;
  width: 1024px;
}
@media only screen {
  .section .section-inner {
    width: auto;
    max-width: 1024px;
  }
}
/*==========  Stem  ==========*/
.stem-wrapper {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 50%;
}
.stem-wrapper.color-pink .stem-background {
  background: pink;
}
.stem-wrapper.color-orange .stem-background {
  background: orange;
}
.stem-wrapper .stem,
.stem-wrapper .stem-background {
  position: absolute;
  top: 0px;
  left: -30px;
  width: 60px;
}
.stem-wrapper .stem {
  background: grey;
  height: 100%;
}
.stem-wrapper .stem-background {
  background: pink;
  height: 50%;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.stem-padding,
.single-stem-icon {
  width: 60px;
  height: 60px;
  margin: 0px auto;
  background: transparent url('../img/timeline/stem.png') repeat-y top center;
}
/*==========  Post wrapper ==========*/
.post-wrapper {
  *zoom: 1;
}
.post-wrapper:before,
.post-wrapper:after {
  content: "";
  display: table;
}
.post-wrapper:after {
  clear: both;
}
.post-wrapper .post {
  position: relative;
  width: 432px;
  padding: 0px 0px 60px 0px;
  clear: both;
  opacity: 1;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
.post-wrapper .post.hidden .post-content {
  -webkit-transform: translateY(100px) rotateX(30deg);
  transform: translateY(100px) rotateX(30deg);
  opacity: 0;
}
.post-wrapper .post:hover .post-content,
.post-wrapper .post.active .post-content {
  opacity: 1;
}
.post-wrapper .post:hover .post-content .meta,
.post-wrapper .post.active .post-content .meta {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}
.post-wrapper .post:nth-child(even) {
  float: right;
}
.post-wrapper .post:nth-child(odd) {
  float: left;
}
.post-wrapper .post:nth-child(even) .stem-overlay {
  left: -110px;
}
.post-wrapper .post:nth-child(odd) .stem-overlay {
  right: -110px;
}
.post-wrapper .post.research-icon .stem-overlay .icon {
  background-image: url('../img/timeline/research.png');
  background-size: cover;
}
.post-wrapper .post.brainstorm-icon .stem-overlay .icon {
  background-image: url('../img/timeline/brainstorm.png');
  background-size: cover;
}
.post-wrapper .post.design-icon .stem-overlay .icon {
  background-image: url('../img/timeline/design.png');
  background-size: cover;
}
.post-wrapper .post.test-icon .stem-overlay .icon {
  background-image: url('../img/timeline/test.png');
  background-size: cover;
}
.post-wrapper .post.iterate-icon .stem-overlay .icon {
  background-image: url('../img/timeline/iterate.png');
  background-size: cover;
}
.post-wrapper .post .stem-overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 60px;
}
.post-wrapper .post .stem-overlay .icon {
  background: transparent no-repeat center center;
  height: 60px;
  width: 60px;
  cursor: pointer;
}
.post-wrapper .post .stem-overlay .stem-mask {
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: transparent url('../img/timeline/stem.png') repeat-y top center;

}
.post-wrapper .post .post-content {
  opacity: .3;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transform: none;
  transform: none;
}
.post-wrapper .post .post-content .meta {
  margin: 0px 0px 15px 0px;
  letter-spacing: 1px;
  opacity: 0;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.post-wrapper .post .post-content .post-title {
  font-size: 32px;
  line-height: 42px;
  margin: 0px 0px 15px 0px;
}
/*==========  Media queries  ==========*/
@media only screen and (max-width: 1080px) {
  .timeline,
  .timeline .section-inner {
    max-width: none;
  }
  .stem-wrapper {
    left: 80px;
  }
  .stem-padding,
  .single-stem-icon {
    margin: 0px;
    float: left;
    margin-left: 50px;
  }
  .post-wrapper .post,
  .post-wrapper .post:nth-child(even),
  .post-wrapper .post:nth-child(odd) {
    width: auto;
    margin-left: 110px;
    float: none;
  }
  .post-wrapper .post .stem-overlay,
  .post-wrapper .post:nth-child(even) .stem-overlay,
  .post-wrapper .post:nth-child(odd) .stem-overlay {
    left: -60px;
    right: auto;
  }
  .post-wrapper .post .post-content {
    padding: 0px 50px;
  }
}
@media only screen and (max-width: 700px) {
  .header .page-title {
    font-size: 40px;
  }
  .post-wrapper .post {
    margin-left: 90px !important;
  }
  .post-wrapper .post .post-content {
    padding: 0 25px;
  }
  .stem-wrapper {
    left: 60px;
  }
  .stem-padding,
  .single-stem-icon {
    margin-left: 30px;
  }
}

.background-wrapper{
  text-align: center;
	position: relative;
	z-index: 1;
  background-color: white;
}

footer{
  text-align: center;
  position: relative;
  z-index: 1;
  background-color: white;
  padding-top: 100px;
}

.expertise{
  text-align: center;
  i{
    font-size: 60px;
  }
}
.skills{
  text-align: center;
  ul{
    list-style: none;
  }
}


.timeline-img{
  background-color: white;
}


#timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  &::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 2px;
    background: #e6e6e6;
  }
  .timeline-block {
    position: relative;
    margin: 2em 0;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
    .timeline-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      img {
        display: block;
        width: 24px;
        height: 24px;
        position: relative;
        left: 50%;
        top: 50%;
        margin-left: -12px;
        margin-top: -12px;
      }
    }
    .timeline-content {
      position: relative;
      margin-left: 60px;
      padding: 1em;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
      &::before {
        content: '';
        position: absolute;
        top: 16px;
        right: 100%;
        height: 0;
        width: 0;
      }
      p{
        margin-bottom: 50px;
        .date{
          float: left;
        }
        .location{
          float: right;
        }
      }
      h3{
        clear: both;
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 20px;
        span.job-position{
          font-family: $body-font;
          font-weight: 300;
          font-size: 20px;
          margin-left: 20px;
        }
      }
      ul{
        list-style: none;
        padding-left: 20px;
        li{
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media only screen and (min-width: 1170px) {
  #timeline {
    margin-top: 3em;
    margin-bottom: 3em;
    &::before {
      left: 50%;
      margin-left: -2px;
    }
    .timeline-block {
      margin: 4em 0;
      &:first-child {
          margin-top: 0;
        }
      &:last-child {
        margin-bottom: 0;
      }
      &:nth-child(even) .timeline-content {
        float: right;
        &::before {
          top: 24px;
          left: auto;
          right: 100%;
        }
      }
      .timeline-img {
        width: 60px;
        height: 60px;
        left: 50%;
        margin-left: -30px;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        &.is-hidden {
          visibility: hidden;
        }
        &.bounce-in {
          visibility: visible;
          -webkit-animation: bounce-1 0.6s;
          -moz-animation: bounce-1 0.6s;
          animation: bounce-1 0.6s;
        }
      }
      .timeline-content {
        margin-left: 0;
        padding: 1.6em;
        width: 45%;
        &::before {
          top: 24px;
          left: 100%;
        }
      }
    }
  }
  .cssanimations .timeline-content.is-hidden {
    visibility: hidden;
  }
  .cssanimations .timeline-content.bounce-in {
    visibility: visible;
    -webkit-animation: bounce-2 0.6s;
    -moz-animation: bounce-2 0.6s;
    animation: bounce-2 0.6s;
  }
  .cssanimations .timeline-block:nth-child(even) .timeline-content.bounce-in {
    -webkit-animation: bounce-2-inverse 0.6s;
    -moz-animation: bounce-2-inverse 0.6s;
    animation: bounce-2-inverse 0.6s;
  }
}


@-webkit-keyframes bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes bounce-1 {
  0% {
    opacity: 0;
    -moz-transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -moz-transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
  }
}
@keyframes bounce-1 {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes bounce-2 {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    -o-transform: translateX(20px);
    transform: translateX(20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes bounce-2-inverse {
  0% {
    opacity: 0;
    -moz-transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -moz-transform: translateX(-20px);
  }

  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}


.project-intro{
  position: relative;
  margin: 0 auto;
  min-height: 560px;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  .project-intro-text{
    left: 0;
    z-index: 1000;
    margin: 0 auto;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 0;
    padding: 0 3em 0 2em;
    width: 60%;
    -webkit-transform: translateY(-50%);
/* transform: translateY(-50%); */
    p{
      opacity: 0;
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
      -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
      transition-timing-function: cubic-bezier(0.7,0,0.3,1);
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      &.scrolled{
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
    }
    h1{
      opacity: 0;
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
      -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
      transition-timing-function: cubic-bezier(0.7,0,0.3,1);
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      transition-delay: .5s;
      &.scrolled{
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
      }
    }
  }
  .project-intro-image{
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    &::before {
      background: #fff;
      top: 0;
      left: 0;
      width: 60%;
      height: 100%;
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
      -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
      transition-timing-function: cubic-bezier(0.7,0,0.3,1);
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      content: '';
      position: absolute;
      z-index: 100;
    }
    &::after {
      border: 80px solid #fff;
      top: -80px;
      right: -80px;
      bottom: -80px;
      left: -80px;
      background-color: rgba(255,255,255,0.5);
      -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
      transition-timing-function: cubic-bezier(0.7,0,0.3,1);
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      content: '';
      position: absolute;
      z-index: 100;
    }
    &.scrolled{
      &::before {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      }
      &::after {
        border: 80px solid #fff;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255,255,255,0);
        content: '';
        position: absolute;
        z-index: 100;
      }
    }

    img{
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      min-width: 100%;
      min-height: 100%;
    }
  }
}
